<%- include('header') %>


    <div class="container">

        <div class="row">
            <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"> Edit Password Details </div>
                         </div>  
                    <div class="panel-body" >
                        <form action="/password-details/edit/<%= record._id %>" id="passwordForm" class="form-horizontal" method="post"  role="form">
                          <div class="form-group">
                            <% if(success!='') { %>
                              <p style="text-align:center;color:green;"><%= success %></p>
                            <% } %>
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Password Details </label>
                                <div class="col-md-9">
                                    <select class="form-control" name="pass_cat">
                                      <option value=""> Choose Password Catagory</option>
                                      <% if(records.length > 0) { 
                                        records.forEach(function(row){
                                          %>   
                                        <option value="<%= row.password_category %>"<% if(row.password_category==record.password_category){ %> selected<% } %>><%= row.password_category %>
                                          <% }) }%>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label"> Project Name </label>
                                <div class="col-md-9">
                                    <input type="textbox"  class="form-control" name="project_name"  placeholder="Enter Your Project Name" value="<%= record.project_name %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Password Details </label>
                                <div class="col-md-9">
                                    <textarea  class="form-control" name="pass_details" id="editor" rows="5" placeholder="Enter Your Password Details"> <%= record.password_details %> </textarea>
                                </div>
                            </div>

                            <input type="hidden" name="id" value="<%= record._id %>">

                            <div class="form-group">
                                <!-- Button -->                                        
                                <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" value="Update Password" class="btn btn-primary">   
                                </div>
                            </div>
                            <p> <a href="/view-all-password"> View all Password Lists </a></p>   
                            
                        </form>
                     </div>
                </div>
                <script>
                  CKEDITOR.replace('editor');
                  </script>
<%- include('footer') %>
